.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px
}

.radioGroup{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}